<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <div class="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board, loop : ${boards}">
                <td th:text="${loop.count}"></td>
                <td>
                    <a th:href="@{|/board/readdetail/${board.id}|}" th:text="${board.title}"></a>
                </td>
                <td th:text="${#temporals.format(board.Date, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
        </tbody>
    </table>
    <a href="/board/create" class="btn btn-primary">글 작성</a>
    
</div>

    </body>
</html>