<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">



    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form th:action="@{/question/create}" method="post"  enctype="multipart/form-data">
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" name="subject" id="subject" class="form-control">
        </div>
                <div class="mb-3">
            <label for="addr" class="form-label">주소</label>
            <input type="text" name="addr" id="addr" class="form-control">
        </div>
        
        <div class="mb-3">
            <label for="cate" class="form-label">분류</label>
			<select name="cate"class="form-select" aria-label="Default select example">
  			<option selected>선택하세요</option>
  			<div th:each="cate:${cates}">
  			<option value="[[${cate.name}]]">[[${cate.name}]]</option>
  			</div>
  			<option value="탕후루">탕후루</option>
  			
  			</select>        
			</div>
        
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea name="content" id="content" class="form-control" rows="10">
            </textarea>
        </div>
        
        <div class="mb-3">
        	<input type="file" name="file" class="form-control">
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>






</div>
</html>